body {
    padding: 5pt;
    background: lightblue;
}

/* Copied from bare.min.css */
button {
    cursor: pointer;
    color: #679;
    display: inline-block;
    padding: 1.4rem 2rem;
    background: #fff;
    border: 1px solid #679;
    border-radius: 2px;
    box-shadow: 0 0 0 transparent;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1rem;
    margin: 0 1rem 1rem 0;
    -webkit-appearance: none
}

input#jobName:valid + #error-message {
    display: none;

}

#emailArea input#ownersEmail:valid + #error-message-email {
    display: none;
}

input#jobName:invalid + #error-message {
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    color: red;
}

#emailArea input#ownersEmail:invalid + #error-message-email {
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    color: red;
}

#jobName:invalid ~ button#createNewJob {
    pointer-events: none;
    opacity: 0.6;
}