<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${@osmalert.webappTitle}"></title>
    <link rel="icon" type="image/png" href="/images/osm.png">
    <script src="/js/htmx-1.9.5.min.js"></script>
    <link href="/css/bare.min.css" rel="stylesheet">
    <link href="/css/osmalert.css" rel="stylesheet">

</head>
<body>

<h1 th:text="${@osmalert.webappTitle}">OSM Alert</h1>

<h2>Current Jobs</h2>

<div id="joblist" th:fragment="joblist">
    <table style="width:100%">
        <tr>
            <th style="width: 33%">Job Name</th>
            <th style="width: 33%">Mail</th>
            <th th:if="${@toggles.isEnabled('FLINK_ID')}">Flink ID</th>
            <th style="width: 33%">Status</th>
        </tr>
        <tr th:each="job: ${jobs}">
            <td th:text="${job.jobName}">unknown</td>
            <td th:text="${job.getEmail()}">unknown</td>
            <td th:if="${@toggles.isEnabled('FLINK_ID')}" th:text="${job.flinkId}">unknown</td>
            <td hx-get="/jobs/status"
                hx-trigger="every 1s"
                th:attr="hx-vals=${'{&quot;jobId&quot;: &quot;' + job.id + '&quot;}'}"
            >unknown
            </td>
        </tr>
    </table>
</div>

<h2>New Job</h2>
<form hx-on::after-request="this.reset()">

    <label for="jobName">Job Name</label>
    <input type="text" id="jobName" name="jobName" required pattern=".*\S+.*" title="Jobname is required"/>
    <div id="error-message" hx-boost="#jobName:invalid">Job name is required!</div>

    <div id="emailArea">
        <label for="ownersEmail">Owner's E-Mail</label>
        <input type="text" id="ownersEmail" name="ownersEmail" required pattern=".*\S+.*"
               title="ownersEmail is required"/>
        <div id="error-message-email">Owner's Email is empty!</div>
    </div>

    <table>
        <tr>
            <th><label for="boundingBox">Bounding Box</label>
                <input type="text" id="boundingBox" name="boundingBox"></th>
        </tr>
    </table>

    <button
        id="createNewJob"
        hx-post="/jobs"
        hx-trigger="click"
        hx-target="#joblist"
        hx-swap="outerHTML"
    >
        Create new Job
    </button>
</form>

<div id="error-container" class="alert alert-danger mt-4">
    <strong><span id="error-code"></span></strong> <span id="error-message-500"></span>
</div>
<script>
    document.body.addEventListener('htmx:afterRequest', function (event) {
        const statusCode = event.detail.xhr.status;
        const errorContainer = document.getElementById('error-container');
        const errorCodeElement = document.getElementById('error-code');
        const errorMessageElement = document.getElementById('error-message-500');
        if (!(statusCode >= 200 && statusCode < 300)) {
            errorContainer.style.display = 'block';
            const responseText = event.detail.xhr.responseText;
            const errorData = JSON.parse(responseText);
            errorCodeElement.textContent = statusCode;
            errorMessageElement.textContent = ": " + errorData.message;
        } else {
            errorContainer.style.display = 'none';
        }
    });
</script>
</body>
</html>
