<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${@osmalert.webappTitle}"></title>
    <link rel="icon" type="image/png" href="/images/osm.png">
    <script src="/js/htmx-1.9.5.min.js"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
        rel="stylesheet">
    <link href="/css/osmalert.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 id="webAppTitle" th:text="${@osmalert.webappTitle}"><b>OSM Alert</b></h1>

    <div class="existing-jobs-table">
        <div id="joblist" th:fragment="joblist">
            <table>
                <thead>
                <tr>
                    <th>Job Name</th>
                    <th>Email</th>
                    <th th:if="${@toggles.isEnabled('SHOW_TIME')}">Time Window</th>
                    <th>Area of Interest</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody th:each="job: ${jobs}" th:id="${job.id}">
                <tr>
                    <td th:text="${job.jobName}">unknown</td>
                    <td th:text="${job.getEmail()}">unknown</td>
                    <td th:if="${@toggles.isEnabled('SHOW_TIME')}" th:text="${job.getFormattedTimeWindow()}">unknown
                    </td>
                    <td th:inline="text">bbox=[[${job.getBoundingBox()}]]</td>
                    <td hx-get="/jobs/status"
                        hx-trigger="every 1s"
                        th:attr="hx-vals=${'{&quot;jobId&quot;: &quot;' + job.id + '&quot;}'}"
                    >unknown
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-add-new-job">
        <form id="form">
            <div class="div-straightStyle">
                <label for="jobName">Name:</label>
                <input type="text"
                       id="jobName"
                       name="jobName"
                       required
                       pattern=".*\S+.*"
                       title="Job name is required"/>
                <div class="error-message" id="error-message" hx-boost="#jobName:invalid">Job name is required.
                </div>
            </div>
            <div id="emailArea" class="div-straightStyle">
                <label for="ownersEmail">E-Mail:</label>
                <input type="text" id="ownersEmail" name="ownersEmail" required pattern=".*\S+.*"
                       title="ownersEmail is required"/>
                <div class="error-message" id="error-message-email">Owner's Email is empty.</div>
            </div>

            <div>
                <span class="div-straightStyle" id="timeWindowField">
                    <label for="timeWindow">Time Window:</label>
                    <input type="number" id="timeWindow" name="timeWindow" min="1" max="1000">

                <select aria-label="timeFormat" id="timeFormat" name="timeFormat">
                    <optgroup label="Time Format">
                        <option value="M">Minutes</option>
                        <option value="H">Hours</option>
                    </optgroup>
                </select>
                </span>
            </div>

            <div class="div-straightStyle">
                <label for="boundingBox">Bounding Box:</label>
                <input type="text" id="boundingBox" name="boundingBox"/>
                <a class="bbox-hyperlink" href="http://bboxfinder.com/" target="_blank">Go to bbox finder</a>
            </div>

            <div th:if="${@toggles.isEnabled('FILTERPATTERN')}">
                <span class="div-straightStyle" id="CheckBoxFiltering">
                <label for="checkboxFilter">Tag Filter:</label>
                <input id="checkboxFilter" name="filterPattern" type="checkbox">
                    <span class="div-straightStyle" id="FilterInput">
                        <label for="keyLabel">Key:</label>
                        <input id="keyLabel" name="key" type="text">
                        <label for="valueLabel">Value:</label>
                        <input id="valueLabel" name="key" type="text">
                    </span>
                </span>
            </div>

            <div id="buttonTag">
                <button
                    id="createNewJob"
                    hx-post="/jobs"
                    hx-trigger="click"
                    hx-target="#joblist"
                    hx-swap="outerHTML"
                >
                    New Job
                </button>
            </div>
            <div id="error-container" class="alert">
                <strong><span id="error-code"></span></strong> <span id="error-message-500"></span>
            </div>
        </form>
    </div>

</div>

<script>
    document.getElementById('createNewJob').addEventListener('htmx:afterRequest', function (event) {
        const statusCode = event.detail.xhr.status;
        const errorContainer = document.getElementById('error-container');
        const errorCodeElement = document.getElementById('error-code');
        const errorMessageElement = document.getElementById('error-message-500');
        const form = document.getElementById('form');

        if (!(statusCode >= 200 && statusCode < 300)) {
            errorContainer.style.display = 'block';
            const responseText = event.detail.xhr.responseText;
            const errorData = JSON.parse(responseText);
            errorCodeElement.textContent = statusCode;
            errorMessageElement.textContent = ": " + errorData.message;
        } else {
            errorContainer.style.display = 'none';
            form.reset();
        }
    });
</script>
</body>
</html>